{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Project Dinner</title>
    </head>
        <body>
            <div class="container mx-auto">
                {{template "render" .}}
            </div>
        </body>
    </html>
{{end}}
