{{define "footer"}}
    <footer class="w-full flex justify-center mt-auto items-center h-10 p-8">
        <p class="text-text_primary">&#169; 2020</p>
        <span class="ml-1 mr-1">-</span>
        <p class="text-text_primary">All rights reserved</p>
    </footer>
{{end}}
